<!-- 定义导航栏 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">

    <!-- 导航栏商标 -->
    <a class="navbar-brand" href="#">Check2Get 创新教程</a>

    <!-- 导航入口 -->
    <div>
      <ul class="navbar-nav">
        <!-- 条目 -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'article:article_list' %}">UE5</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'article:article_list' %}">Python</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'article:article_list' %}">KSP</a>
        </li>


      </ul>
    </div>

  </div>
</nav>